body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    height: 50px;
    margin: 16px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 200px);
    overflow-y: scroll;
}

.loading_bar_frame {
    height: 25px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgb(31, 30, 50);
    border: 3px solid rgb(13, 13, 21);
}

.loading_bar_frame div {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: rgb(76, 169, 14);
}


header, footer {
    height: 100px;
    width: 100%;
    background-color: rgb(31, 30, 50);
    display: flex;
    align-items: center;
}

header {
    border-bottom: 3px solid rgb(13, 13, 21);
    justify-content: center;
}

footer {
    border-top: 3px solid rgb(13, 13, 21);
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 16px;
}

a:hover {
    color: rgb(86, 79, 213);
}

footer img{
    filter: invert(100%);
}




.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-track {
    background: transparent;
}

.content::-webkit-scrollbar-thumb {
    background-color: rgb(13, 13, 21);
    border-radius: 10px;
    border: 3px solid rgb(13, 13, 21);
}